*{
    padding: 0px;
    margin: 0px;
}

#canvas{
   border: 5px solid black;
   /* position: absolute;
   top: 50%;
   left: 50%; */
    transform: translate((-50%, -50%));
    width: 500px;
    height: 700px;
}